.input-error-message {
  position: absolute;
  z-index: -1;
  padding: 2px 8px;
  margin-top: 8px;
  margin-left: 8px;

  background-color: crimson;

  @include transform(scale(.8));
  
  &:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 8px;
    display: block;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent crimson transparent;
  }
}

.has-error {
  .input-error-message {
    z-index: 5;

    @include transform(scale(1));
    @include transition(all .2s);
  }
}