.spinner-default {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-top: 2px solid #00a8ff;
  border-right: 2px solid #cfdee5;
  border-bottom: 2px solid #cfdee5;
  border-left: 2px solid #cfdee5;
  border-radius: 100%;

  @include animation(rotate-spinner 1.5s infinite linear);

  &.spinner-small {
    width: 15px;
    height: 15px;
  }
}


.loading-message-wrapper {
  opacity: 0;
  
  @include transform(scale(.8));
  @include transition(all .2s);
  
  &.active {
    opacity: 1;
    @include transform(scale(1));
  }
  
  .spinner-default {
    float: left;
    margin-right: 6px;
  }

  .loading-message {
    float: left;
    font-size: 12px;
    line-height: 15px;
  }
}

@include keyframes(rotate-spinner) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(359deg));
  }
}


.label-drag-helper {
  padding: 2px 7px;
  color: #fff;
  background-color: #2a97ca;
  white-space: nowrap;
  margin-top: 15px;
}

.ui-state-hover {
  background-color: #cae5f2;

  td {
    background-color: #cae5f2;
  }
}

#loader-application {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -32px;
  text-align: center;
  
  .spinner-default {
    float: none;
    margin-bottom: 6px;
  } 

  .loading-message {
    float: none;
    font-size: 14px;
    font-weight: bold;
  }
}