.table-card-list {
  .knowledge-level-header {
    text-align: right;
    width: 140px;
  }

  .edit-icons {
    padding: 0 4px;

    .glyphicon {
      padding: 10px 6px 6px;
      cursor: pointer;
      float: left;
    }
  }
}
