.table-card-list {
  .header-wrapper {
    position: relative;
    cursor: pointer;
  }

  .first-column {
    width: 60px;
    text-align: center;

    .order-indicator {
      left: 4px;
    }
  }

  .knowledge-level-header {
    text-align: right;
    width: 140px;

    .header-wrapper {
      display: inline-block;
    }
  }

  .edit-icons {
    padding: 0 4px;

    .glyphicon {
      padding: 10px 6px 6px;
      cursor: pointer;
      float: left;
    }
  }

  .order-indicator {
    position: absolute;
    top: 4px;
    left: -14px;
    font-size: 10px;
  }
}
