{{#my-modal title='Edit label' ok='updateLabel' close='cancel' isLoading=isSaving model=model as |component|}}
  <form {{action 'ok' on='submit' target=component}}>
    <div class="form-group {{has-error-class showErrors errors.model.title}}">
      <label class="control-label">Title</label>
      {{input class="form-control" value=model.title disabled=isSaving}}
      {{display-errors errors=errors.model.title showErrors=showErrors}}
    </div>
  </form>
{{/my-modal}}