{{#my-modal title='New label' ok='createLabel' close='removeModal'}}
  <form {{action 'createLabel' on='submit'}}>
    <div class="form-group {{has-error-class showErrors errors.model.title}}">
      <label class="control-label">Title</label>
      {{input class="form-control" value=model.title}}
      {{display-errors errors=errors.model.title showErrors=showErrors}}
    </div>
  </form>
{{/my-modal}}