<div class="container">
  <h1>About Type and Learn</h1>
  <p>This project is created and developed by Peter Toth (Alias: Toma)</p>
  <p>If you have any question or suggestion you can reach me: tothpeter08@gmail.com</p>
</div>