{{#file-upload url=postImportUrl success='uploaded' acceptedFiles=".csv,.xls,.xlsx" referenceToOutside=this}}
  <div class="dz-message">Dropa a file here or click to upload.</div>
  <div class="dz-description">You can import from .csv .xls or .xlsx. Just make sure it contains the columns in this order: sida a, side b, knowledge level (1-5).</div>
{{/file-upload}}