<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <button {{action 'showModal' 'profile.labels.new' null 'profile.labels.new'}} class="btn-add-new-label">New label</button>
      <div class="list-group">
        {{#each session.currentUser.labels as |label|}}
          <div class="list-group-item">
            <span {{action 'showModal' 'profile.labels.edit' label 'profile.labels.edit'}} class="btn btn-sm btn-primary btn-edit-label">edit</span>
            {{#link-to 'profile.labels.cards' label}}
              {{label.title}}
            {{/link-to}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      {{outlet}}
    </div>
  </div>
</div>